/*all*/
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

.btn:focus, .btn:active:focus {
    outline: none;
}

.btn {
    font-family: 'Montserrat', sans-serif;
}

.btn-medium {
    font-size: 13px;
    min-width: 170px;
}

.btn-small {
    font-size: 12px;
}

hr.page-divider{
    height: 2px;
    background-color: #c8c8c8;
    margin-top:  0;
    margin-bottom: 0;
}

.btn-custom {
    color: #fff;
    border-radius: 0;
    padding: 20px 20px 19px 20px;
}

.btn-orange {
    background-color: #ff6863;
    border: 2px solid #ff6863;
}

.btn-outline-white {
    border: 2px solid #fff;
    background: transparent;
}

.badge-custom {
    background-color: #ff6863;
}
/*header*/

header {
    background-color: #6a6b6c;
    padding: 40px 0;
}

.navbar-app {
    border: 0;
    margin-bottom: 0;
    border-radius: 0;
    background: none;
}

.navbar-app .navbar-nav>li>a,
.navbar-app .navbar-nav>li>a:hover,
.navbar-app .navbar-nav>li>a:focus
{
    color: #fff;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
}

.navbar-app .navbar-brand,
.navbar-app .navbar-brand:hover
{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 29px;
}

.top {
    min-height: 550px;
    display: flex;
    align-items: center;
}

.motto h2 {
    margin-top: 0;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 80px;
    line-height: 96px;
}

.top .buttons {
    margin-bottom: 50px;
}

header .btn-orange,
.hire-us .btn-orange {
    margin-right: 15px;
    margin-bottom: 15px;
}

header .btn-outline-white,
.hire-us .btn-outline-white {
    margin: 0 15px;
    margin-bottom: 15px;
}

.btn-orange:hover,
.btn-outline-white:hover,
.btn-orange:active,
.btn-outline-white:active,
.btn-orange:focus,
.btn-outline-white:focus
{
    color: #fff;
}

.start .glyphicon-triangle-bottom {
    color: white;
    font-size: 22px;
}

/*about*/

.about {
    padding: 105px 0 70px 0;
}

.about-us,
.services
{
    margin-bottom: 30px;
}

.page-title {
    position: relative;
    font-size: 32px;
    margin-bottom: 78px;
}

.page-title:after {
    content: "";
    position: absolute;
    border-bottom: 1px solid #ff6863;
}

.about-us .page-title {
    font-family: 'Montserrat', sans-serif;
}
.about-us .page-title:after {
    left: 0;
    bottom: -39px;
    width: 84px;
}

.description {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    line-height: 31px;
    margin-bottom: 40px;
}

.about-us .description {
    color: #b3b3b3;
}

.services .btn-arrow-custom {
    color: #000;
    background-color: #eee;
    border: none;
    border-radius: 0;
    font-size: 20px;
    padding: 16px 19px 13px 19px;
}

.panel-group .panel {
    margin-bottom: 20px;
}

.services .panel-heading {
    padding: 0;
}

.panel-title {
    display: inline;
}

.btn-arrow-custom[aria-expanded=true] {
    background-color: #000;
    color: #fff;
    transform: rotate(90deg);
}

.panel-title>a,
.features .item-title,
.services-list .item-title
{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    color: #444;
}

.panel-title>a {
    margin-left: 15px;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    color: #828282;
    padding: 21px 27px 27px 27px;
    line-height: 31px;
}

.features .item-body,
.services-list .item-body {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    line-height: 31px;
}

.features .item-body {
    color: #666666;
}

.services-list .item-body {
    color: #959595;
}

/*features*/

.features {
    padding: 60px 0 105px 0;
}

.features .item {
    padding-bottom: 15px;
}

.features .glyphicon {
    color: #fff;
    background-color: #ff6863;
    padding: 17px;
    font-size: 30px;
    border: 5px solid #ffd1d0;
    border-radius: 50%;
}

.features .item-header
{
    display: flex;
    align-items: center;
    padding-bottom: 35px;
}

.features .item-header .item-icon
{
    flex: 1;
}

.features .item-header .item-title
{
    flex: 3;
    margin-left: 15px;
}

/*featured-work*/
.featured-work {
    padding: 140px 0 110px;
}

.featured-work .page-title,
.our-services .page-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.featured-work .page-title:after,
.our-services .page-title:after,
.portfolio .page-title:after {
    right: 46%;
    bottom:  -39px;
    width: 84px;
}

.featured-work .description,
.our-services .description
{
    color: #565656;
}

.our-services {
    padding: 110px 0;
}

.our-services .services-list {
    padding: 105px 0;
}

.services-list .item {
    padding-bottom: 15px;
}

.services-list .item-icon {
    font-size: 35px;
    margin-bottom: 10px;
}

.services-list .item-title {
    position: relative;
    margin-bottom: 50px;
}

.our-services .item-title:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -22px;
    border-bottom: 1px solid #ff6863;
    width: 30px;
}

/**/

.hire-us {
    background-color: #525252;
    padding: 93px 0 120px 0;
}

.hire-us .page-title {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.hire-us .subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #b2b3b3;
    margin-bottom: 60px;
}

.slider {
    width: 100%;
}

.slider img {
    position: relative;
    width: 100%;
    padding-right: 3px;
    padding-left: 3px;
}

.slider img .slick-current:hover {
    background-color: #0f0f0f;
}

.portfolio {
    padding: 140px 0 160px 0;
    background-color: #f2f2f2;
}

.portfolio .description {
    color: #7d7d7d;
    margin-bottom: 110px;
}

/*----------media queries---------------*/

@media only screen and (max-width: 375px) {
    /* For mobile phones: */
    header .btn-outline-white,
    .hire-us .btn-outline-white {
        margin-left: 0;
    }

    .motto h2 {
        font-size: 50px;
        line-height: 80px;
    }

}