/*all*/
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

.btn:focus, .btn:active:focus {
    outline: none;
}

.btn {
    font-family: 'Montserrat', sans-serif;
}

.btn-large {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.btn-medium {
    font-size: 13px;
    min-width: 170px;
}

.btn-small {
    font-size: 12px;
}

hr.page-divider{
    height: 1px;
    background-color: #c8c8c8;
    margin-top:  0;
    margin-bottom: 0;
}

.btn-custom {
    color: #fff;
    border-radius: 0;
    padding: 20px 20px 19px 20px;
}

.btn-orange {
    background-color: #ff6863;
    border: 2px solid #ff6863;
}

.btn-outline-white {
    border: 2px solid #fff;
    background: transparent;
}

.badge-custom {
    background-color: #ff6863;
}

.page-title {
    position: relative;
    font-size: 32px;
    margin-bottom: 78px;
}

.page-title:after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #ff6863;
}


/*header*/
header {
    background-color: #6a6b6c;
    padding: 40px 30px;
}

.navbar-app {
    border: 0;
    margin-bottom: 0;
    border-radius: 0;
    background: none;
}

.navbar-app .navbar-nav>li>a,
.navbar-app .navbar-nav>li>a:hover,
.navbar-app .navbar-nav>li>a:focus
{
    color: #fff;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
}

.navbar-app .navbar-brand,
.navbar-app .navbar-brand:hover
{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 29px;
}

.top {
    min-height: 550px;
    display: flex;
    align-items: center;
}

.motto h2 {
    margin-top: 0;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 80px;
    line-height: 96px;
}

.top .buttons {
    margin-bottom: 50px;
}

header .btn-orange,
.hire-us .btn-orange
{
    margin: 0 15px;
    margin-bottom: 15px;
}

header .btn-outline-white,
.hire-us .btn-outline-white
{
    margin: 0 15px;
    margin-bottom: 15px;
}

.btn-orange:hover,
.btn-outline-white:hover,
.btn-orange:active,
.btn-outline-white:active,
.btn-orange:focus,
.btn-outline-white:focus
{
    color: #fff;
}

.start .glyphicon-triangle-bottom {
    color: white;
    font-size: 22px;
}

/*about*/

.about {
    padding: 105px 0 70px 0;
}

.about-us,
.services
{
    margin-bottom: 30px;
}

.about-us .page-title,
.skills .page-title {
    font-family: 'Montserrat', sans-serif;
}

.about-us .page-title:after,
.skills .page-title:after {
    left: 0;
    bottom: -39px;
    width: 84px;
}

.description {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    line-height: 31px;
    margin-bottom: 40px;
}

.about-us .description {
    color: #b3b3b3;
}

.services .btn-arrow-custom {
    color: #000;
    background-color: #eee;
    border: none;
    border-radius: 0;
    font-size: 20px;
    padding: 16px 19px 13px 19px;
}

.panel-group .panel {
    margin-bottom: 20px;
}

.services .panel-heading {
    padding: 0;
}

.panel-title {
    display: inline;
}

.btn-arrow-custom[aria-expanded=true] {
    background-color: #000;
    color: #fff;
    transform: rotate(90deg);
}

.panel-title>a,
.features .item-title,
.services-list .item-title
{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    color: #444;
}

.panel-title>a {
    margin-left: 15px;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    color: #828282;
    padding: 21px 27px 27px 27px;
    line-height: 31px;
}

.features .item-body,
.services-list .item-body {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    line-height: 31px;
}

.features .item-body {
    color: #666666;
}

.services-list .item-body {
    color: #959595;
}

/*features*/

.features {
    padding: 60px 0 105px 0;
}

.features .item,
.services-list .item {
    margin-bottom: 15px;
}

.features .glyphicon {
    color: #fff;
    background-color: #ff6863;
    padding: 17px;
    font-size: 30px;
    border: 5px solid #ffd1d0;
    border-radius: 50%;
}

.features .item-header
{
    display: flex;
    align-items: center;
    padding-bottom: 35px;
}

.features .item-header .item-icon
{
    flex: 1;
}

.features .item-header .item-title
{
    flex: 3;
    margin-left: 15px;
}

/*featured-work*/
.featured-work {
    padding: 140px 30px 110px;
}

.featured-work .page-title,
.our-services .page-title,
.pricing .page-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.featured-work .page-title:after,
.our-services .page-title:after,
.portfolio .page-title:after,
.pricing .page-title:after,
.blog .page-title:after
{
    left: calc(50% - 42px);
    bottom:  -39px;
    width: 84px;
}

.featured-work .description,
.our-services .description
{
    color: #565656;
}

.our-services {
    padding: 110px 30px 215px;
}

.our-services .description {
    margin-bottom: 105px;
}

.services-list .item-icon {
    font-size: 35px;
    line-height: 0;
    margin-bottom: 10px;
}

.services-list .item-title,
.contact .title
{
    position: relative;
    margin-bottom: 50px;
}

.our-services .item-title:after,
.contact .title:after
{
    content: "";
    position: absolute;
    left: 0;
    bottom: -22px;
    border-bottom: 2px solid #ff6863;
    width: 30px;
}

/**/

.hire-us {
    background-color: #525252;
    padding: 93px 30px 120px 30px;
}

.hire-us .title {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    position: relative;
    font-size: 32px;
    margin-bottom: 78px;
}

.hire-us .subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #b2b3b3;
    margin-bottom: 60px;
}

/*slider*/
.slider {
    width: 100%;
}

.slider img {
    position: relative;
    width: 100%;
    padding-right: 3px;
    padding-left: 3px;
}

.slider .slick-active:focus {
    outline: none;
}

/*portfolio*/
.portfolio {
    padding: 140px 0 160px 0;
    background-color: #f2f2f2;
}

.portfolio .description {
    color: #7d7d7d;
    margin-bottom: 110px;
}

.portfolio .wrapper {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
    background-color: #f2f2f2;
}

.portfolio .box img {
    width: 100%;
    height: 100%;
}

.a {
    grid-column: 1 / 3;
    grid-row: 1;
}
.b {
    grid-column: 3 ;
    grid-row: 1 / 3;
}
.c {
    grid-column: 1 ;
    grid-row: 2 ;
}
.d {
    grid-column: 2;
    grid-row: 2;
}

.e {
    grid-column: 1;
    grid-row: 3;
}

.f {
    grid-column: 2 / 4;
    grid-row: 3;
}



/*skills*/

.skills {
    padding: 140px 0 100px 0;
}

.skills .description {
    color: #828282;
    margin-bottom: 0;
}

.skills .stats {
    margin-bottom: 45px;
}

.skills .stats div {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.skills .stats .progress {
    background-color: #eee;
}

/*counters*/
.counters {
    padding:  110px 0 145px 0;
}

.counters .counter-number {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 55px;
    position: relative;
}

.counters .counter-number:after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #ff6863;
    left: calc(50% - 22px);
    bottom: -25px;
    width: 44px;
}

.counters .counter-for {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

/*testimonials*/
.testimonials {
}


.carousel img {
    width: 100%;
}

.carousel-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    margin-bottom: 95px;
    font-weight: bold;
}

.carousel-description {
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    font-size: 14px;
    margin-bottom: 45px;
}

.carousel-author {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 30px;
}

.carousel-rating .glyphicon-star {
    color: #ffbf00;
}

/*pricing*/
.pricing {
    padding: 140px 0;
    background-color: #f2f2f2;
}

.pricing .panel {
    box-shadow: 0px 0px 25px #dcdcdc;
}

.pricing .page-title {
    margin-bottom: 100px;
}

.pricing .description {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 75px;
}

.pricing .panel-heading {
    color: #ff6863;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    background-color: #f4f4f4;
    border-bottom-color: #cecccc;
    padding-top:  50px;
    padding-bottom:  135px;
}

.pricing .panel-body {
    padding: 135px 95px 50px;
}

.btn-custom {
    padding: 20px 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
}

/* Hide the browser's default checkbox */
.benetits-item {
    margin-bottom: 55px;
}

.round {
    position: relative;
}

.round label {
    background-color: #bbb;
    border: 1px solid #bbb;
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    height: 22px;
    width: 22px;
    left: 0;
    top: 0;
}

.round label:after {
    transform: rotate(-45deg);
    border: 2px solid #fff;
    position: absolute;
    border-right: none;
    border-top: none;
    content: "";
    height: 6px;
    width: 12px;
    opacity: 0;
    left: calc(50% - 6px);
    top: calc(50% - 4px);
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
    background-color: #ff6863;
    border-color: #ff6863;
}

.round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}


/*sponsors*/
.sponsors {
    padding: 140px 0 200px;
}


.subscribe {
    padding: 85px 50px 115px;
    background-color: #525252;
}

.subscribe .page-title {
    color: #fff;
}

.subscribe .description {
    color: #787d83;
}

.subscribe input[type="email"] {
    padding: 17px 0 20px 27px;
    background-color: transparent;
}

.subscribe input::placeholder {
    color: #c1c5c6;
}

/*blog*/

.blog {
    padding: 140px 0 135px;
}

.blog .page-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}

.blog .description {
    margin-bottom: 65px;
}

.blog .blog-card {
    border: 1px solid #e3e3e3;
}

.blog .blog-card img {
    margin-bottom: 33px;
}

.blog .card-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}

.blog .card-description {
    color: #a0a0a0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin-bottom: 35px;
}

.contact {
    background-color: #2a2a2a;
    padding: 140px 0 85px;
}

.contact .title {
    color: #fff;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.contact .description {
    color: #fff;
}

.contact .form-control {
    margin-bottom: 30px;
}

.contact input[type="text"],
.contact textarea
{
    padding: 20px;
    background-color: transparent;
    border-color: #333;
}

.contact input[type="text"]:active,
.contact textarea:active
{
    outline: none;
    box-shadow: 0 0 20px #ff6863;
}

.footer {
    background-color: #000;
    color: #fff;
    padding: 35px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

/*----------media queries---------------*/

@media only screen and (max-width: 375px) {
    /* For mobile phones: */
    .motto h2 {
        font-size: 40px;
        line-height: 70px;
    }

}