h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

header {
    background-color: #6a6b6c;
    padding: 40px 0;
}

.navbar-app {
    border: 0;
    margin-bottom: 0;
    border-radius: 0;
    background: none;
}

.navbar-app .navbar-nav>li>a,
.navbar-app .navbar-nav>li>a:hover,
.navbar-app .navbar-nav>li>a:focus
{
    color: #fff;
    font-size: 17px;
    font-family: 'Open Sans';
}

.navbar-app .navbar-brand,
.navbar-app .navbar-brand:hover
{
    font-family: 'Open Sans';
    font-weight: bold;
    color: #fff;
    font-size: 29px;
}

.top {
    min-height: 550px;
    display: flex;
    align-items: center;
}

.motto h2 {
    margin-top: 0;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 50px;
}

.top .buttons {
    margin-bottom: 65px;
}

.btn-custom {
    font-family: 'Montserrat', sans-serif;
    border-radius: 0;
    font-size: 13px;
    padding: 20px 0 19px 0;
    line-height: 15px;
    width: 170px;
}

.btn-orange {
    background-color: #ff6863;
    border: 2px solid #ff6863;
    color: white;
    margin-right: 15px;
}

.badge-custom {
    background-color: #ff6863;
}

header .btn-outline-white {
    border: 2px solid #fff;
    color: #fff;
    background-color: transparent;
    margin: 0 15px;
}

.btn-orange:hover,
.btn-outline-white:hover,
.btn-orange:active:focus,
.btn-outline-white:active:focus
{
    color: #fff;
    outline: none;
}

.start .glyphicon-triangle-bottom {
    color: white;
    font-size: 22px;
}

/*about*/

section.about {
    padding: 105px 0 100px 0;
    display: flex;
}

.about div.about-us {
    flex: 1;
    padding-right: 15px;
}

.about-us div.underline {
    width: 84px;
    height: 2px;
    background-color: #ff6863;
    margin-bottom: 39px;
}

.page-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    margin-bottom: 37px;
}

.description {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color: #b3b3b3;
    line-height: 2;
    margin-bottom: 40px;
}

.about-us .btn-orange {
    margin: 0;
}

.about div.services {
    flex: 1;
    padding-left: 15px;
}

.btn:focus, .btn:active:focus {
    outline: none;
}

.unique-design,
.experience-team,
.great-service,
.free-updates {
    margin-bottom: 20px;
}

.services .btn-arrow-custom {
    height: 61px;
    width: 61px;
    color: #000;
    background-color: #eee;
    border-color: #eee;
    border-radius: 0;
    font-size: 27px;
}

.services .btn-custom {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin-left: 15px ;
    color: #444;

}

div.btn-collapse, .collapse-custom {
    border: 1px solid #dcdcdc;
}

.services .collapse-custom {
    border-top: none;
    font-family: "Raleway";
    font-size: 14px;
    color: #828282;
    padding: 21px 27px 27px 27px;
}


